# Local database
db.sqlite3

# Development
.devcontainer

# Cache
__pycache__

# Environment
.env

# Node.js dependencies
node_modules

# Production
bundle.js
bundle.js.LICENSE.txt

# Visual Studio Code
.vscode
